	<div class=telegram>
		<table class=tele_body>
			<tr class=tele_header>
				<td colspan=2>
					<div class="caption cap1">UNITED STATES POST OFFICE DEPARTMENT</div>
					<div class="caption cap2">Department of Salem, Essex County, Massachusetts</div>
					<div class="caption cap3">TELEGRAM</div>
				</td>
			</tr>
			<tr class=address>
				<td>
					<span class=address_caption>To:</span><span> {contact_address}</span><br>
					<span class=address_caption>Receiver:</span><span> {contact_name}</span>
				</td>
				<td class=address_from>
					<span class=address_caption>From:</span><span> {character_name}</span>
				</td>
			</tr>
			<tr class=main_part >
				<td  colspan=2>
					<span>{text}<br>
						{price}
					</span>
				</td>
			</tr>
		</table>
		<!--div class="sample_stamp">ОБРАЗЕЦ</div-->
	</div>

