{text}<br>
Помню, к тебе влезет {crates:ящик:ящика:ящиков}. В основном надо стремиться брать чай &nbsp; &nbsp; &nbsp; &nbsp; табак&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; маслята<br>
<span class="hint">зачеркнуть два товара и оставить один</span><br>
{if:item['crates'] > 2}В этот раз от тебя нужно следующее:<br>
- выбери самого лучшего поставщика и возьми товар только у него (плачу {price1}$)<br>
- собери столько товара, сколько сможешь (плачу {price2}$)<br>
<span class="hint">зачеркнуть одну строку и оставить другую</span><br>
{else}Как обычно, собери столько товара, сколько сможешь (плачу {price2}$).<br>
{endif}
Деньги наличными при встрече. Жду в нашем месте:<br>
<u>{d~courier_locations:location} {time}</u>