.father_wrapper {
    width: 1700px;
}

.father, .wives {
	height: 1200px;
	width: 850px;
	float: left;
}

.wife {
    height: 600px;
    width: 425px;
    float: left;
    background-size: 100%;
    font-size: 0.5em;
}

.wife_free {
    background-image: url(../images/mother_free.png);
}

.wife_empty {
    background-image: url(../images/mother_empty.png);
}

.back {
	background-image: url(../images/father_solo.png);
	background-size: cover;
	height: 100%;
}

.photo	{
	background-size: 100%;
	z-index: -10;
}

.name, .points {
	font-family: 'Pehlevi', fantasy;
	font-weight: bold;
}

.name {
	position: relative;
	top: 49.5%;
	left: 0%;
	width: 100%;
	text-align: center;
	font-family: 'Pehlevi', fantasy;
	font-size: 3em;
	
}

.points {
	position: relative;
	top: 47.5%;
	left: 48.8%;
	font-size: 6em;
}

.description {
	position: relative;
	width: 100%;
	top: 48%;
	text-align: center;
	padding: 0 8em;
	box-sizing: border-box;
	font-family: 'Arbat';
}