@font-face {
    font-family: 'Nautilus Pompilius';
    src: local("Nautilus Pompilius") format('open-type');
   /* src: url(../fonts/NautilusPompilius.otf) format('open-type'); */
}

@font-face {
    font-family: 'ZopaCyr';
    src: local("ZopaCyr") format('open-type');
    /*src: url("../fonts/ZopaCyr.otf");*/
}

@font-face {
	font-family: playbill;
	src: local("PlayBill.ttf") format('true-type');
	
}

@font-face {
	font-family: futurak;
	src: local("FuturaBlack BT") format('true-type');
}

@font-face {
	font-family: telegram;
	src: url("../fonts/consola.TTF");
}

@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/PT_Mono.woff) format('woff');
}

.loc_rule	{
	background-image: url('../images/loc_rules_back.jpg');
	background-size: 100% 100%;
    float: left;
}

.loc_rule_caption	{
	text-align: center;
	font-size: 32mm;
	font-family: 'Marta Decor Two'
}

.loc_rule_subcaption	{
	font-size: 22mm;
    font-family: 'ZopaCyr';
	text-align: center;
}

.ability_caption	{
	font-size: 22mm;
    font-family: 'ZopaCyr';
	text-align: center;
}

.all_content
	{
		/*задаем минимальную высоту контента - 100%*/
		height: 170mm;
        float: left;
        margin: 15mm 20mm 0mm 20mm;
        float: left;
		width: 87%;
	}

.deny_remark
	{
		height: 25mm; /*высота футера*/
        width: 265mm;
		margin: 0mm 20mm 0mm 17mm;
        font-size: 6.5mm;
        font-family: 'ZopaCyr';
        text-align: center;
        float: left;
	}

.deny_remark img
	{
        height: 9mm;
        width: 9mm;
        margin: 0mm 0mm -2mm 0mm;
    }


.tradition_text	{
	text-align: justify;
	font-size: 14mm;
    font-family: 'ZopaCyr';
    margin: 8mm 0mm 0mm 0mm;
}

