.wrapper {
    width: 300mm;
    max-height: 213mm;
}

.telegram	{
	width: 148mm;
	height: 100mm;
	border: 1px solid black;
	display: table;
	border-collapse: collapse;
	float: left;
	background-image: url('../images/papertexture.jpg');
	background-size: 100% 100%;
}



.tele_body	{
	width: 97%;
	height: 96%;
	margin: 2mm;
	border-collapse: collapse;
	background-image: url('../images/stamp1.png');
	background-repeat: no-repeat;
	background-position: 103% 103%;
}

	.tele_body tr, .tele_body tr td	{
		border-collapse: collapse;	
	}
	.tele_body tr td	{	
		border: 1px solid black;
		border-collapse: collapse;	
	}


.tele_header, .address,  .main_part	{
	display: table-row;
}

.tele_header	{
	text-align: center;
}

	.caption	{
		width: 100%;
	}
	
.cap1	{
	font-family: playbill;
	font-size: 1.4em;
}

.cap2	{
	font-size: 0.8em;
}

.cap3	{
	font-family: 'Bernard MT Condensed';
	letter-spacing: 1.5mm;
	font-size: 1.2em;
}

	
.address	{
	height: 13mm;
	font-size: 4.0mm;
}

.address td	{
	padding-left: 2mm !important;
	font-family: 'b52';
}

.address_caption	{
	font-size: 1.2em;
	font-weight: bold;
}

.address_from	{
	width: 33%;
}

.main_part	{
	margin-bottom: 0;
	bottom: 0;
	height: 100%;
	font-family: 'b52';
}

	.main_part td	{
		padding: 0 4mm;
		line-height: 1.2em;
		vertical-align: top;
		text-transform: lowercase;
	}

.hint	{
	font-size: 0.6em;
	font-weight: bold;
	vertical-align: super;
	background: none;
	font-family: Verdana;
	line-height: 0.9em;
}

.hidden div	{
	display: none;
}

.sample_stamp	{
	position: relative;
	line-height: 0;
	top: -55mm;
	left: 0mm;
	font-size: 7em;
	font-family: Verdana;
	opacity: 0.15;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
